/* ///////// */
/* links */

a:link { color: Blue; text-decoration: underline; border: 0; }
a:visited { color: Blue;  text-decoration: none; border: 0; }
a:hover { color: #8B0000; text-decoration: underline; border: 0;}
a:active { color: Blue; text-decoration: none; border: 0; }


table {
	margin: 1em 0 1em 0;
	padding: 0;
	border: 1px solid #6A6A6A;
	border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: .8em;
    color: #002951;
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 100%;
    white-space: nowrap;
}

th {
	margin: 0;
	padding: .2em;
	border: 1px solid #9F9F9F;
	font-size: .65em;
	font-weight: bold;
	background-color: #F0F5F9;
	color: #802424;
	text-align: center;
    vertical-align: middle;
}


td {
	margin: 0;
	border: 1px solid #9F9F9F;
	font-size: .7em;
	background-color: White;
	text-align: left;
	vertical-align: top;
	padding: .2em .2em 1em .2em;
	line-height: 130%;
}

td.generale {background-color: #FFFFCF;}
td.locale {background-color: #EFEFE0;}


/*aggiunti per riepilogo */

div#page_container-riepilogo {
	margin: 0;
	padding: 0;
	}
div#page_container-riepilogo div.nome-applicazione {
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-size: .9em;
	text-align: left;
	color: Gray;
	border: 0;
	border-bottom: 1px solid Silver;
	text-transform: uppercase;
}

div#page_container-riepilogo h1 {
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: Black;
	font-size: 1em;
	border: 0;
	text-transform: none;
}

div#page_container-riepilogo h2 {
	border-bottom: 2px solid #A5A5A5;
	color: #3A3A3A;
	background-color: transparent;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: .8em;
	font-weight: bold;
}

h1 span.cambio_normativa { text-transform: uppercase; font-size: .8em; color: #C2AD26;}


div#page_container-riepilogo ol.elenco {
	margin: 0 0 0 2em;
}

div#page_container-riepilogo ol.elenco li{
	font-size: .8em;
	list-style: square;
}

div#page_container-riepilogo h3 {
	font-size: .9em;
	background-color: #DFDFDF;
	color: #3F3F3F;
	font-weight: bold;
	margin-top: 2em;
}

div#page_container-riepilogo span.warning {
	color: Red;
	font-weight: bold;
}


div#page_container-riepilogo p {
	font-size: .8em;
}

div#page_container-riepilogo div.contenuto ul, div#page_container-riepilogo div.contenuto ol {
    font-size: .75em;
    margin: 0 0 1em 0;
    padding: 0 0 0 2em;
    border: 0;
	font-weight: normal;
}

div#page_container-riepilogo div.contenuto ul li {list-style: square; margin: .1em 0 .3em 0; padding: 0;}
div#page_container-riepilogo div.contenuto ol li {list-style: none; margin: .1em 0 .1em 0; padding: 0;}
div#page_container-riepilogo div.contenuto li li {font-size: 1em;}
div#page_container-riepilogo dl {margin: .2em 1em .5em 2em; padding: 0;}
div#page_container-riepilogo dt, dd {font-size: .8em;}


/*copiati e adattati da [mapserver3/siena/common/css/contenuto_ru_opensource] */
div.scheda a.estratto {
	display: block;
	width: auto;
	margin: 1em 0 1em 0;
	padding: .2em;
	border-top: 1px dotted Blue;
	border-bottom: 1px dotted Blue;
	background-color: #CCD7FF;
	font-size: .85em;
	font-weight: bold;
}

div.scheda a.estratto:link {border-top: 1px dotted Blue;border-bottom: 1px dotted #4E7DFF;	background-color: #D2E1FF;}
div.scheda a.estratto:visited {border-top: 1px dotted Blue;border-bottom: 1px dotted #4E7DFF;	background-color: #D2E1FF;}
div.scheda a.estratto:hover {border-top: 1px solid Blue;border-bottom: 1px solid Blue;	background-color: #CCD7FF;}
div.scheda a.estratto:active {border-top: 1px dotted Blue;border-bottom: 1px dotted #4E7DFF;	background-color: #D2E1FF;}